@page "/authors/details/{id:int}" //cip...48
@inject IAuthorService authorService
@inject NavigationManager navManager
@using AutoMapper
@inject IMapper _mapper

<h3>Author Details</h3>
<br />
<EditForm Model="Author" FormName="AuthorDetails">
    <fieldset disabled="true">
        <div class="form-group">
            <label for="firstName">Firstname</label>
            <InputText id="firstName" @bind-Value="Author.FirstName" class="form-control" />
            <ValidationMessage For="@(() => Author.FirstName)" />
        </div>
        <br />
        <div class="form-group">
            <label for="lastName">Lastname</label>
            <InputText id="lastName" @bind-Value="Author.LastName" class="form-control" />
            <ValidationMessage For="@(() => Author.LastName)" />
        </div>
        <br />
        <div class="form-group">
            <label for="bio">Bio</label>
            <InputText id="bio" @bind-Value="Author.Bio" class="form-control" />
            <ValidationMessage For="@(() => Author.Bio)" />
        </div>
    </fieldset>
    <br />
    @if(Author.Books?.Any() == true) //cip...48 chatgpt "...can also avoid null checks entirely by initializing the collection in your DTO/model"
    //NOTE chatgpt: Author.Books?.Any() can produce: true, false, null
    {
        @foreach (var book in @Author.Books)
        {
            <div class="card" style="width: 18rem;">
                <img src="@book.Image" class="card-img-top" alt="@book.Title">
                <div class="card-body">
                    <h5 class="card-title">@book.Title - @book.Price?.ToString("C")</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">View Book</a>
                </div>
            </div>
        }
    }
    else
    {
        <div class="alert alert-dismissible alert-secondary">
            <strong>No books found.</strong>
        </div>
    }
    <br />
    <button @onclick="NavigateToEdit" class="btn btn-warning">
        <span class="bi bi-pencil-fill"></span>
        Edit Author
    </button>
    <button @onclick="NavigateToAuthors" class="btn btn-secondary">
        <span class="bi bi-rewind-fill"></span>
        Back to list
    </button>
</EditForm>

@code {
    [Parameter]
    public int id { get; set; } //automatically binds to the route parameter

    private AuthorDetailsDto Author { get; set; } = new();

    //when the component loads, get the author details and populate the form
    override protected async Task OnInitializedAsync()
    {
        var response = await authorService.GetAuthorAsync(id);
        if (response.Success)
            Author = response.Data;
    }

    private void NavigateToAuthors()
    {
        navManager.NavigateTo("/authors/");
    }

    private void NavigateToEdit()
    {
        navManager.NavigateTo($"/authors/update/{id}");
    }
}
