@page "/users/register" //cip...39
@rendermode InteractiveServer
@inject IClient httpClient;
@inject NavigationManager navManager;
<h3>Register New Account</h3>

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-danger">
        <p>@message</p>
    </div>
}

<div>
    <EditForm Model="RegistrationModel" OnValidSubmit="HandleRegistration" FormName="RegisterForm">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label>Email Address</label>
            <InputText class="form-control" @bind-Value="RegistrationModel.Email" />
            <ValidationMessage For="@(() => RegistrationModel.Email)" />
        </div>
        <br />
        <div class="form-group">
            <label>Firstname</label>
            <InputText class="form-control" @bind-Value="RegistrationModel.FirstName" />
            <ValidationMessage For="@(() => RegistrationModel.FirstName)" />
        </div>
        <br />
        <div class="form-group">
            <label>Lastname</label>
            <InputText class="form-control" @bind-Value="RegistrationModel.LastName" />
            <ValidationMessage For="@(() => RegistrationModel.LastName)" />
        </div>
        <br />
        <div class="form-group">
            <label>Password</label>
            <InputText class="form-control" type="password" @bind-Value="RegistrationModel.Password" />
            <ValidationMessage For="@(() => RegistrationModel.Password)" />
        </div>
        <br />
        <button type="submit" class="btn btn-primary btn-block">Register</button>
    </EditForm>

</div>

@code {
    public UserDto RegistrationModel { get; set; } = new()
    {
        Role = "User"
    };
    string message = string.Empty;

    private async Task HandleRegistration()
    {
        try
        {
            //NOTE: i've appended the attribute [ProducesResponseType(StatusCodes.Status202Accepted)] to RegisterAsync so that nswag properly handles the response and doesn't throw an exception when it receives a 202 status code.
            //This is because the RegisterAsync method returns a 202 status code when the registration is successful, but nswag expects a 200 status code by default.
            await httpClient.RegisterAsync(RegistrationModel);
            navManager.NavigateTo("/users/LoginUserDto");
        }
        catch (ApiException ex)
        {
            message = ex.Response;
        }
    }
}
